/org-ai-images/
/.orgids
/excalidraw/*.svg
/.DS_Store
/latex/.DS_Store
/snippets/.DS_Store
/mode/.auctex-auto/
/bib/.auctex-auto/
/latex/A2C/
/latex/svg-inkscape/
*.zip
/mode/veos_paper_draft.bbl
/latex/LaTeX-graphics-with-TikZ/
/mode/jd/*.xml
/mode/jd/*.bcf
/mode/jd/*.synctex(busy)
/mode/jd/*.xdv
/roam/*.pdf
/mode/img/drl101/tree2.png
/mode/exports/
*.aux
*.fdb_latexmk
*.fls
*.json
*.log
*.out
*.toc
*.dbk
*.man
